.sectionTwo {
    max-width: 1042px;
    width: 100%;
    margin: 0 auto;
    margin-top: 100px;
}
.sectionTwoText {
    text-align: center;
    
}
.sectionTwoText h2 {
    font-weight: 700;
    font-size: 32px;
    line-height: 38.4px;
    margin-top: 5px;
    font-family: "Unbounded", sans-serif;
}

.sectionTwoText > h2 > span:first-child {
    color: #021A42;
}
.sectionTwoText > h2 > span:last-child {
    color: #FD8127;
}
.sectionTwoText h3 {
    font-weight: 500;
    font-size: 22px;
    color: rgba(0, 0, 0, 0.7);
    margin-top: 20px;
    max-width: 1020px;
    width: 100%;
}
/**/
.sectionTwoContent {
    max-width: 1042px;
    width: 100%;
    margin-top: 40px;

    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 30px;
}
.sectionTwoContentBlock {
    width: 238px;
    height: 308px;
    background-color: #F5F5F5;
    border-radius: 24px;

    display: flex;
    flex-direction: column;
    align-items: center;
}
.sectionTwoContentBlock img {
    width: 222px;
    height: 160px;
    padding-top: 10px;
}
.sectionTwoContentBlockRow {
    display: flex;
    align-items: center;
    justify-content: space-around;
    font-size: 12px;
    font-weight: 700;
    padding-top: 16px;
    width: 100%;

}
.sectionTwoContentBlockRow img {
    width: 20px;
    height: 12px;
    padding: 0;
}
.sectionTwoContentBlock h3 {
    color: rgba(0, 0, 0, 0.7);
}
.sectionTwoContentBlock ul {
    padding-top: 5px;
}
.sectionTwoContentBlock li {
    font-size: 10px;
    list-style: disc;
    width: 202px;
    line-height: 15px;
}

/**/

.sectionTwoContentBlockInfo {
    background-color: #FEF3EA;
}
.sectionTwoContentBlockInfo h3{
    padding-top: 18px;
    position: relative;
    right: 50px;
    font-size: 12px;
}

.sectionTwoContentBlockInfo a {
    width: 202px;
    height: 35px;
    border-radius: 10px;
    background-color: #FD8127;
    color: white;
    font-weight: 500;
    font-size: 14px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 57px;
    transition: 0.15s;
}
.sectionTwoContentBlockInfo a:hover {
    background-color: #FF6B00;
    transition: 0.15s;
}
/**/
.sectionTwoContentLink {
    width: 168px;
    height: 26px;
    margin: 0 auto;
    margin-top: 40px;
    display: flex;
    color: #FD8127;
    font-weight: 500;
    font-size: 20px;
    border-bottom: 2px #FD8127 solid;
    padding: 2px;
    transition: 0.15s;
    
}
.sectionTwoContentLink:hover {
    color: #FF3D00;
    transition: 0.15s;
    border-bottom: 2px #FF3D00 solid;
}

@media (max-width:900px) {
    .sectionTwo {
        margin-top: 80px;
    }
    .sectionTwoText h2 {
        font-size: 20px;
        margin-top: 15px;
    }
    .sectionTwoText h3 {
        width: 335px;
        margin: 0 auto;
        line-height: 18.2px;
        font-size: 14px;
        margin-top: 15px;
    }
    .sectionTwoContentBlock {
        width: 335px;
        height: 368px;
    }
    .sectionTwoContentBlock > img {
        width: 313px;
        height: 180px;
        padding-top: 12px;
    }
    .sectionTwoContentBlockRow {
        justify-content: space-between;
        padding-left: 18px;
        padding-right: 18px;
        box-sizing: border-box;
    }
    .sectionTwoContentBlock ul {
        padding-left: 5px;
    }
    .sectionTwoContentBlock li {
        width: 299px;
        font-size: 14px;
        line-height: 21px;
    }
    .sectionTwoContentBlockInfo h3 {
        font-size: 14px;
        right: 87px;
    }
    .sectionTwoContentBlockInfo a {
        width: 299px;
        height: 40px;
        margin-top: 63px;
        font-size: 16px;
    }
}
    @media (max-width:699px) {
    .card4, .card5, .card6, .card7, .card8 {
        display: none;
    }
}