.sectionTwo {
    max-width: 1042px;
    width: 100%;
    margin: 0 auto;
    margin-top: 100px;
}
.sectionTwoText {
    text-align: center;
    
}
.sectionTwoText h2 {
    font-weight: 700;
    font-size: 32px;
    line-height: 38.4px;
    margin-top: 5px;
}

.sectionTwoText > h2 > span:first-child {
    color: #021A42;
}
.sectionTwoText > h2 > span:last-child {
    color: #FD8127;
}
.sectionTwoText h3 {
    font-weight: 500;
    font-size: 22px;
    color: rgba(0, 0, 0, 0.7);
    margin-top: 20px;
    max-width: 1020px;
    width: 100%;
}
/**/
.sectionTwoContent {
    max-width: 1042px;
    width: 100%;
    margin-top: 40px;

    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 30px;
}
.sectionTwoContentBlock {
    width: 238px;
    height: 308px;
    background-color: #F5F5F5;
    border-radius: 24px;

    display: flex;
    flex-direction: column;
    align-items: center;
}
.sectionTwoContentBlock img {
    width: 222px;
    height: 160px;
    padding-top: 10px;
}
.sectionTwoContentBlockRow {
    display: flex;
    align-items: center;
    justify-content: space-around;
    font-size: 12px;
    font-weight: 700;
    padding-top: 16px;
    width: 100%;

}
.sectionTwoContentBlockRow img {
    width: 20px;
    height: 12px;
    padding: 0;
}
.sectionTwoContentBlock li {
    font-size: 10px;
    list-style: disc;
    width: 202px;
    padding-top: 5px;
    line-height: 15px;
}